[Unit]
Description=Sniffer Script
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/get-traffic.sh

[Install]
WantedBy=multi-user.target
