#!/bin/sh

#Script per il download dei file pcap tramite rsync

DEST_FOLDER=/srv/traffic
SERVER=root@{{ groups['vulnbox'][0] }}:/srv/traffic/

mkdir -p "$DEST_FOLDER"

while :; do
  rsync -avz -e "ssh -o StrictHostKeyChecking=no" "$SERVER" "$DEST_FOLDER"
  sleep 10
done
